
.footer-right
{
	   padding: 0.5%;
    color: #fff;
    font-family: 'Montserrat Light', sans-serif;
    font-size: 11px;
    text-shadow: none;
}

#circle {
	width: 200px;
	height: 200px;
	background: #A83334;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 100px;
}
#circles {
	width: 80px;
	height: 80px;
	background: #A83334;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 100px;
}

#circleforregister
{
    width: 134px;
    height: 134px;
    background: #A83334;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 100px;
    margin-left: -30%;
}

.sliderheader
{
 font-size: 62px;
 text-shadow: none;

}
.sliderheaderp
{
 font-size: 18px;
    margin-left: 10%;
    margin-right: 10%;
    font-family: 'Montserrat Light', arial;
    text-shadow: none;
    margin-top: 2%;
    margin-bottom: 2%;
 
}
.mig
{
	font-size: 20px;
	font-family: 'Montserrat Regular', sans-serif;
	    font-style: italic;
	    text-shadow: none;
}
.profilep
{
	    color: #A83334;
}
.soclicon
{
	    color: #A83334 !important;
    padding: 4%;
    font-size: 18px;
}

.left
{
	float: left;
}
.right
{
	float: right;
}

.formpad
{
	padding-left: 1px !important;
    padding-right: 1px !important;
}
.formicons
{
	    border: 2px #A83334 solid;
    font-size: 25px !important;
    

}
.input-prepend
{
	display: inline-block;
   margin-bottom: 10px;
   vertical-align: middle;
   font-size: 0;
   white-space: nowrap;
}

.profile_head
{
        color: #A83334;
}
.desig
{
        margin-top: 0px !important;
}
.big
{
    font-size: 200px !important;
}
.quarter-box1:hover
{
    background: #194759 !important;
}
.aboutpara
{
        color: #194759;
}

.program
{
    background-color: #F9F9F9 !important;
    color: #A83334 !important; 
}

.program:hover
{
    background-color: #A83334 !important;
    color: #fff !important; 
    border: 1px solid #A83334 !important;
}
#progressbar1 {
        margin-bottom: 30px;
        overflow: hidden;
        /*CSS counters to number the steps*/
        counter-reset: step;
        text-align: -webkit-center;
    }
    #progressbar1 li {
        list-style-type: none;
        color: #194759;
        text-transform: uppercase;
        font-size: 16px;
        width: 24.33%;
        float: left;
        position: relative;
        text-align: -moz-center;
    }
    #progressbar1 li:before {
        content: counter(step);
        counter-increment: step;
        width: 20px;
        line-height: 20px;
        display: block;
        font-size: 10px;
        color: #fff;
        background: #194759;
        border-radius: 20px;
        margin: 0 auto 5px auto;
    }
    /*progressbar connectors*/
    #progressbar1 li:after {
        content: '';
        width: 100%;
        height: 2px;
        background: #194759;
        position: absolute;
        left: -50%;
        top: 9px;
        z-index: -1; /*put it behind the numbers*/
    }
    #progressbar1 li:first-child:after {
        /*connector not needed before the first step*/
        content: none; 
    }
    /*marking active/completed steps green*/
    /*The number of the step and the connector before it = green*/
    #progressbar1 li.active:before,  #progressbar1 li.active:after{
        background: #A83334;
        color: white;
    }
.addcls
{
    display: none;
}

.showcls
{
    display: block !important;
}
.programp
{
    color: #A83334;
    font-family: sans-serif;
    font-size: 25px;
    text-align: center;
}

.colps
{
              padding: 12%;
    font-size: 22px;
    line-height: 63px;
    text-align: center;
    margin-top: 13%;
}

.filtt
{

  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: #AB3B3C !important; /*dim the background*/
}

.filtext
{
        height: 100% !important;
        background-color: rgba(25, 71, 89, 0.64) !important;
}

.btn-info1 {
    color: #fff;
    background-color: #194759;
    border-color: #194759;
    }

    .btn-info1:hover {
    color: #808080 !important;

   border-color: none !important;
    }
    .colps:li
    {
        color:#fff !important;
    }